.additional {
  display: block;
  margin-top: 10px;
  font-size: 1em;
  color: blue;
  line-height: 1.5;
  transition: opacity 6.3s ease;
}

.additional.hidden {
  display: none;
  text-align: justify;
  
}

.additional.visible {
  display: block;
  background-color: yellow; 
  opacity: 1; 
  text-align: justify; 
  transition: opacity 1.3s ease; 
}
